.header {
  /* [https://css-tricks.com/couple-takes-sticky-footer/#aa-there-is-flexbox] */
  flex-shrink: 0;

  margin: 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__image {
  /* Supersede default display to inline-block */
  display: block;
  width: 173px;
  height: 33px;
  padding-bottom: calc(74px - 33px - 1px);
}

@media screen and (max-width: 620px) {
  /* .header {
    height: 56px;
  } */
  .header__image {
    width: 126px;
    height: 24px;
    margin-left: 27px;
    padding-bottom: calc(56px - 24px - 1px);
  }
}
